/* Advertising
------------------------------------- */
.advertising-1140 {
	max-width: 1140px;
}
.advertising-728 {
	max-width: 728px;
}
.advertising-banner {
	display: block;
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	border-radius: 5px;
	background: #fff;
}
.advertising-banner img {
	width: 100%;
	border-radius: 5px;
}
.advertising-close:before {
	position: absolute;
	top: 5px;
	right: 5px;
	content: "\f00d";
	font-family: "FontAwesome";
	font-size: 22px;
	line-height: 21px;
	background: #fff;
	border-radius: 5px;
	padding: 3px 4px;
	-webkit-box-shadow: 0 0 10px 0 #999;
	-moz-box-shadow: 0 0 10px 0 #999;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.advertising-close:hover {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
#advertising-top-bar-container, #advertising-footer-pop-up-container {
	background: none !important;
}
#advertising-top-bar img,#advertising-footer-pop-up img {
	border-radius: 0;
}
#advertising-home-content {
	margin-top: -90px;
}
#advertising-footer-pop-up-container {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 10;
	border-radius: 5px 5px 0 0;
}
#advertising-footer-pop-up {
	-webkit-box-shadow: 0 0 10px 0 #999;
	-moz-box-shadow: 0 0 10px 0 #999;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.52);
}
#advertising-footer-pop-up-container img {
	border-radius: 5px 5px 0 0;
}