/* Bagdes
------------------------------------- */
.badges {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 9;
	width: 100%;
	display: block;
	padding: 0px;
	overflow: hidden;
	height: 100px;
}
.discount-badge {
	background: #dc96ab;
	float: right;
	transform: rotate(45deg);
	right: -67px;
	top: 17px;
	position: relative;
	text-align: center;
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0.1px;
	margin: 0;
}
.discount-badge a {
	color: #fff;
	text-decoration: none;
}