/* Banner search
------------------------------------- */
#banner-search-container {
	margin-top: -85px;
}
#banner-search {
	width:100%;
	height:800px;
	background-color: #775d6a !important;
}
.category #banner-search {
	height: auto;
}
#banner-search-fields {
	margin: 0 auto;
	margin-top: 300px;
}
.category #banner-search-fields {
	margin-top: 180px;
	background-color: #775d6a !important;
	padding: 5px 10px;
	border-radius: 5px;
	z-index: 9;
	/*
	-webkit-box-shadow: 0 0 10px 0 #555;
	-moz-box-shadow: 0 0 10px 0 #555;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	*/
}
#banner-search h1 {
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	margin: 0 0 20px 4px;
}
.category #banner-search h1 {
	font-size: 36px;
	line-height: 44px;
}
#banner-search p {
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	margin: 5px 5px 15px 8px;
}
.category #banner-search h1, .category #banner-search p {
	text-shadow: none;
}
.category .banner-search-box, .category .banner-search-button-box button {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


.banner-search-box {
	position: relative;
	float: left;
	margin: 5px;
	-webkit-box-shadow: 0 0 10px 0 #111;
	-moz-box-shadow: 0 0 10px 0 #111;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}
.banner-search-button-box {
	position: relative;
	float: left;
	margin: 5px;
}
.banner-search-button-box  {
	display: inline-block;
	background: none;
	padding: 0;
	border: none;
}
.banner-search-field-title {
	font-size: 12px;
	line-height: 18px;
	background: #fff;
	padding: 2px 5px;
	border: 1px solid #fff;
	border-radius: 5px;
	position: absolute;
	top: -10px;
	left: 10px;
}
.banner-search-box {
	display: inline-block;
	background: #fff;
	padding: 5px;
	border: 1px solid #fff;
	border-radius: 5px;
}
.banner-search-button-box button {
	background: #c37d92 !important;
	color: #fff;
	padding: 16px 18px !important;
	border: 1px solid #c37d92 !important;
	border-radius: 5px;
	font-size: 20px !important;
	line-height: 26px !important;
	-webkit-box-shadow: 0 0 10px 0 #111;
	-moz-box-shadow: 0 0 10px 0 #111;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}
.banner-search-button-box button:hover {
	background: #cd879c !important;
	border: 1px solid #cd879c !important;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.banner-search-button-box button:focus {
	outline: none !important;
}
.banner-search-button-box button span {
	display: none;
}
.banner-search-box select{
	width: 220px !important;
	background: #fff !important;
	padding: 10px !important;
	border: 1px solid #fff !important;
	font-size: 20px;
	line-height: 28px;
	outline: none !important;
}
.banner-search-box option {
	font-size: 16px !important;
	line-height: 26px !important;
	font-weight: normal!important;
}