/* Breadcrumb
------------------------------------- */
#breadcrumb-container {
	position: relative;
	width: 100%;
	max-width: 300px;
	margin: 100px auto 0 auto;
	background: #f9f9f9;
	border-radius: 3px;
	padding: 5px 10px;
	border: 1px solid #eee;
}
.page{
	#breadcrumb-container{
		margin: 0;
	}
}
#breadcrumb {
	font-size: 13px;
	line-height: 20px;
}
#breadcrumb.hide-breadcrumb {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#breadcrumb a,
.breadcrumb-last {
	display: inline-block;
	text-decoration: none;
}
#breadcrumb a:before,
.breadcrumb-last:before,
.breadcrumb_last:before {
	font-family: "FontAwesome";
	content: "\f105";
	opacity: 0.5;
	padding: 0 5px 0 2px;
}
#breadcrumb a.breadcrumb-first:before {
	font-family: "FontAwesome";
	content: "";
	opacity: 1;
	padding: 0;
}
.breadcrumb-divider {
	opacity: 0.5;
	font-size: 12px;
	line-height: 20px;
}
#breadcrumb-expand {
	position: absolute;
	top: 0;
	right: 0;
	color: #999;
	padding: 5px;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
}
#breadcrumb-expand:hover {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
#breadcrumb.expanded-breadcrumb a,
#breadcrumb.expanded-breadcrumb .breadcrumb-last {
	display: block;
}
