/* Content
------------------------------------- */
#content.homepage {
}
#homepage-intro {
	background: #f5f5f5;
	margin: -50px 0 50px 0;
	padding: 25px 0 0 0;
}
.category #homepage-intro {
	margin: -95px 0 0 0;
	padding: 25px 0 50px 0;
}
#content hr {
	display: block;
	background: #c37d92;
	width: 15%;
	height: 2px;
	border: 1px solid #c37d92;
	border-radius: 5px;
	margin-bottom: 25px;
}
.home-text-intro,
.category-text-intro {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	max-width: 800px;
	padding: 80px 30px 100px 30px;
}
.category-text-intro {
	max-width: none;
	max-height: 600px;
	position: relative;
	overflow: hidden;
}
#content h2 {
	margin: 0 0 20px 0;
}

.paged.category {
	#homepage-intro {
		display: none;
	}
	#best-reviews-container {
		display: none;
	}
	#category-main-listing-container{
		margin-top: -95px;
	}
	#category-main-listing-container{
		padding-top: 120px;
	}
}
