/* Swal2 notification
------------------------------------- */
.swal2-popup .swal2-close:hover {
	color: #ff0000 !important;
}
.swal2-container {
	background: rgb(255,255,255) !important;
	background: rgba(255,255,255,.8) !important;
}
.swal2-popup {
	-webkit-box-shadow: 0 0 10px 0 #555 !important;
	-moz-box-shadow: 0 0 10px 0 #555 !important;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7)!important;
}
.swal2-confirm:focus {
	outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.swal2-close:focus {
	outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
/* Cookie
------------------------------------- */
#cookie-confirm {
	display: inline-block;
}
.swal2-container.cookie-confirm-container {
	background: none !important;
}
.swal2-container.cookie-confirm-container .swal2-header {
	/*display: none;*/
}
.swal2-container.cookie-confirm-container .swal2-popup #swal2-content {
	/* text-align: left; */
}
.cookieBox .swal2-icon{
	display: none !important; 
}
.swal2-popup.cookieBox, .swal2-popup.cookieBox .swal2-title, .swal2-popup.cookieBox .swal2-actions {
	display: block !important;
	flex-wrap: nowrap !important;
	align-items: stretch !important;
	justify-content: flex-start !important;
}
.swal2-popup.cookieBox .swal2-title, .swal2-popup.cookieBox.swal2-toast .swal2-title{
	font-size: 16px;
	line-height: 22px;
	padding: 2px 2px 5px 0;
}
.swal2-popup.cookieBox .swal2-styled.swal2-confirm {
	display: inline-block !important;
}
.swal2-popup.cookieBox {
	font-size: 12px;
	padding: 10px;
}
.swal2-popup.cookieBox .swal2-actions, .swal2-popup.cookieBox.swal2-toast .swal2-actions{
	margin: 7px 5px 0 5px;
	text-align: center;
}
.swal2-popup.cookieBox h2 {
	font-size: 18px;
	line-height: 24px;
}
.swal2-container .swal2-confirm {
	background: #c37d92 !important;
}
.swal2-container .swal2-confirm {
	background: #775d6a !important;
}