/* CTA Create profile
------------------------------------- */
#cta-create-profile p {
	margin: 0px !important;
}
#cta-create-profile a {
	position: relative;
	display: block;
	text-align: center;
	padding: 80px 15px; 
	background: #c37d92;
	color: #eee;
	text-decoration: none;
	font-size: 34px;
	line-height: 44px;
}
#cta-create-profile a:after {
	font-family: 'FontAwesome'; 
	content: "\f105";
	font-size: 60px;
	vertical-align: text-bottom;
	color: #eee;
	opacity: 0.6;
	padding-left: 20px;
}