// Dropdown fullwidth
ul.dropdown li.dropdown-fullwidth-container {
	position: static !important;
}

ul.dropdown li.dropdown-fullwidth-container {
	position: static;
}

.dropdown-fullwidth {
	display: none;
	opacity: 0;
	width: 125%;
	max-width: 1140px;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 9;
	padding-top: 10px;

	&.active {
		display: block !important;
		opacity: 1 !important;
	}
}


.dropdown-fullwidth .nav-cats>.nav-cat {
	width: 100%;
	overflow: hidden;
	break-inside: avoid-column;
}

// .nav-cat-container > .nav-cats > .nav-cat:first-child > a {
// 	margin-top: 0;
// }

.nav-cats-items.nested {
	&:after {
		clear: both;
		display: block;
		content: "";
	}

	.nav-cat {
		float: left;
	}
}

.nav-cat-container>.nav-cats>.nav-cat>a {
	margin: 20px 0 0 0;
	color: #c37d92;
	text-transform: uppercase;
	display: block;
	background: none;
	border: none;
}

.nav-cat-container {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	min-height: 555px;
	margin-top: -20px;
}

.nav-cat {
	display: block;
	// This is not strictly needed, but it could help for more complex layouts
	// and in case you have multiple columns
	-moz-page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	-o-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	column-break-inside: avoid;
	page-break-inside: avoid;
}

.dropdown-fullwidth .nav-cat a {
	display: inline-block;
	margin: 2px;
	padding: 3px 7px;
	border: 1px solid #eee;
	background: #f5f5f5;
	border-radius: 3px;
	color: #444;
}

ul.dropdown .nav-cat a:hover {
	color: #c37d92;
}

.dropdown-fullwidth-inner {
	background: #fff;
	-webkit-box-shadow: 0 0 10px 0 #333;
	-moz-box-shadow: 0 0 10px 0 #333;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
	border-radius: 3px;
	padding: 15px;
}



/* Dropdown Styles
------------------------------------- */
ul.dropdown ul {
	opacity: 0;
	display: none;
	transition: all 0.25s;
	transform: translate3d(0, 15px, 0);
}

ul.dropdown {
	list-style: none;
	/*
	position: relative;
	*/
	float: left;
	margin: 0;
	padding: 0;
}

ul.dropdown a {
	display: block;
	color: #444;
	text-decoration: none;
}

ul.dropdown a.nav-first-level {
	color: #fff;
	// text-shadow: 0 0 10px rgba(0, 0, 0, 1);
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

ul.dropdown li {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

/* ul.dropdown li.dropdown-fullwidth-container {
	position: static;
} */

ul.dropdown li ul {
	opacity: 0;
	display: none;
	position: absolute;
	top: 82%;
	left: 0;
	padding: 0;
	z-index: 9;
}

ul.dropdown ul li {
	float: none;
	width: 208px;
}

ul.dropdown ul ul {
	top: 0;
	left: 100%;
	margin: 0 0 0 10px;
}

ul.dropdown ul {
	margin: 10px 0 0 0;
}

ul.dropdown ul ul:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 100%;
	left: -10px;
	top: 0;
	opacity: 0;
}

ul.dropdown ul:before {
	content: "123";
	position: absolute;
	width: 100%;
	height: 10px;
	top: -10px;
	opacity: 0;
}

#nav-lang-nav-container {
	display: block;
}


/* Indicator Arrow */
ul.dropdown li a:after,
ul.dropdown ul li a:after {
	font-family: "FontAwesome";
	content: "\f105";
	opacity: 0.5;
}

ul.dropdown li a:after {
	font-family: "FontAwesome";
	content: "\f107";
	padding-left: 7px;
}

#lang-nav-container ul.dropdown li a:after {
	font-family: "FontAwesome";
	content: "";
	padding: 0;
}

ul.dropdown ul li a:after {
	font-family: "FontAwesome";
	content: "\f105";
	position: absolute;
	right: 15px;
}

ul.dropdown li a:only-child:after {
	content: "";
	padding: 0;
}

ul.dropdown ul li a:only-child:after {
	content: "";
}

/* Responsive
------------------------------------- */
@media (min-width: 992px) {

	/* Dropdown Styles
	------------------------------------- */
	ul.dropdown li:hover>.dropdown-fullwidth {
		display: block;
		opacity: 1;
	}
}

@media (max-width: 992px) {

	.dropdown-fullwidth {
		width: 100%;
	}

	.nav-cat-container {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}
