/* Favorites
------------------------------------- */
#favorites-container {
	font-size: 24px;
	line-height: 26px;
	text-align: right;
}
#favorites-container a:before {
	font-family: 'FontAwesome'; 
	content: "\f004";
	opacity: 0.5;
	padding-right: 3px;
}
#favorites-container a {
	color: #c37d92;
}
#favorites-container a:hover {
	color: #775d6a;
}
#favorites { 
	display: inline-block;
	padding-right: 7px;
	position: relative;
}
#favorites-nmbr { 
	position: absolute;
	bottom: 0;
	right: 2px;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #775d6a;
}
.category-top-adv-box .add-to-favorites {
	position: absolute; 
	top: 10px;
	right: 10px;
}
.add-to-favorites-trigger {
	padding: 5px;
	color: #775d6a;
}
.add-to-favorites-trigger:before {
	display: block;
	font-family: 'FontAwesome'; 
	content: "\f004";
	opacity: 1;
	font-size: 24px;
	line-height: 26px;
}
.add-to-favorites-trigger:hover {
	opacity: 0.85;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}