/* Home categories 
------------------------------------- */
#home-categories {
	margin: 100px 0;	
}
#home-categories-slider {
	position: relative;
	height: 300px;
	overflow: hidden;
}
.home-categories-box {
	position: relative;
	width: 400px;
	height: 300px;
	/*
	margin-right: -1px !important;
	*/
	color: #fff;
	background: #eee;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	overflow: hidden;
	width: 101%;
}
#home-categories h3, #home-categories h3 a {
	display: block;
	margin: 0;
	font-size: 22px;
	line-height: 32px;
	text-decoration: none;
	color: #fff;
}
/*
#home-categories .row {
	margin: 0;
}
#home-categories .row .col-6.no-padding {
	padding: 5px !important;
}
.home-categories-box {
	height: 200px;
	border-radius: 10px;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
#home-categories h3, #home-categories h3 a {
	display: block;
	margin: 0;
	font-size: 22px;
	line-height: 32px;
	text-decoration: none;
	color: #fff;
}
#home-categories .category-home-bg-box {
	width: 85%;
	text-align: center;
}
*/

