.wpml-ls-legacy-dropdown a {
	background-color: transparent;
	border: none;
}

.wpml-ls-legacy-dropdown a.wpml-ls-item-toggle:after {
	display: none;
}

.wpml-ls-legacy-dropdown a:hover,
.wpml-ls-legacy-dropdown a:focus,
.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a {
	background-color: transparent;
}

#current-lang {
	padding-top: 8px;
}

.wpml-ls-legacy-dropdown .wpml-ls-sub-menu {
	border-top: none;
}

.lang-nav-container {
	width: 40px;
}

.wpml-ls-legacy-dropdown {
	width: 40px;
}

.wpml-ls-legacy-dropdown a:hover {
	background-color: transparent;
}

.wpml-ls-sub-menu {
	background-color: #fff;
}

#lang-nav-container {
	display: flex;
	justify-content: center;
	height: 12px;
}

.widget.widget_mslswidget {
	a {
		img {
			margin: auto;
			vertical-align: middle;
			display: inline-block;
		}
	}
}