/* Main Navigation
------------------------------------- */
#nav-container {
	position: relative;
	display: block;
}

#nav {
	float: right;
}

#nav > li > a {
	display: inline-block;
	margin: 0;
	padding: 11px;
}

#nav-container ul.dropdown ul {
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px 0 #333;
	-moz-box-shadow: 0 0 10px 0 #333;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);
	border-radius: 3px;
}

#nav-container ul.dropdown ul li { border-bottom: 1px solid #e9e9e9; border-radius: 3px; }
#nav-container ul.dropdown ul li:last-child { border-bottom: none; }

#nav-container ul.dropdown li:hover ul a,
#nav-container ul.dropdown ul a {
	line-height: 27px !important;
	padding: 10px 30px 10px 15px !important;
	color: #505050 !important;
}

#nav-container ul.dropdown ul li:hover {
	background-color: #f2f2f2 !important;
	border-radius: 0;
}

#nav-container ul.dropdown ul li:first-child { border-radius: 3px 3px 0 0; }
#nav-container ul.dropdown ul li:last-child { border-radius: 0 0 3px 3px; }

/* Lang Navigation
------------------------------------- */
ul#lang-nav.dropdown li ul {
	left: -15px;
}

#lang-nav {
	/*
	margin-top: 4px;
	border: 1px solid #ddd;
	background: #eee; 
	border-radius: 3px;
	padding: 0 8px;
	*/
}
#lang-nav > li > a {
	margin: 0;
	padding: 12px 0;
}
#other-langs {
	background: #fff;
	-webkit-box-shadow: 0 0 10px 0 #333;
	-moz-box-shadow: 0 0 10px 0 #333;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);
	border-radius: 3px;
	padding: 15px;
}
#other-langs {
	max-width: 56px !important;
}

.dropdown > .menu-item > a{
	text-shadow: none;
	display: block !important;
	width: 100% !important;
    color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 1);
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}