/* New blog posts
------------------------------------- */
#new-blog-posts-container {
	/*
	margin: 100px 0;
	*/
}
.new-blog-posts-img {
	position: relative;
	width: 100%;
	height: 150px;
	background-color: #f5f5f5;
	background-image: url('../img/bg/banner-search/vjencanje-par.jpg');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	/* border:1px solid #f2f2f2; */
	border-radius: 5px 5px 0 0;
}
#new-blog-posts h2 {
	margin: 0 0 20px 0;
}
#new-blog-posts hr {
	display: block;
	background:#c37d92;
	width: 15%;
	height: 2px;
	border: 1px solid #c37d92;
	border-radius: 5px;
	margin-bottom: 25px;
}
.new-blog-posts-box {
	background: #f5f5f5;
	border-radius: 5px;
}
.new-blog-posts-title {
	padding: 15px 15px 10px 15px;
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	color: #c37d92;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.new-blog-posts-title a {
	text-decoration: none;
}
.new-blog-posts-desc {
	padding: 0 15px 15px 15px;
	p{
		text-overflow: ellipsis;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}