/* Pagination
------------------------------------- */
.pagination {
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

.page-numbers {

    display: inline-block;
    padding: 7px 12px;
    background: #fff;
    border: 1px solid #e5e5e5;
    text-decoration: none;
    border-radius: 3px;
    margin: 0 2px;
    width: 48px;

	.fa {
		vertical-align: middle;
	}

}

.pagination-between {
	display: none;
}

.pagination-divider {
	display: inline-block;
	padding: 5px 12px;
}

/* Pagination
	------------------------------------- */
.pagination-current-mone,
.pagination-current-pone {
	display: none;
}
