
/* Partners
------------------------------------- */
#partners-container {
	margin: 100px 0;
}
#partners .col-4 {
	margin: 0;
	padding: 0;
}
#partners img {
	width: 100%;
	border-radius: 5px;
	padding: 15px 10px;
}
#partners a {
	display: block;
	padding: 5px;
	opacity: 0.7;
}
#partners a:hover {
	opacity: 1;
}
#partners-container h2 {
	margin: 0 0 20px 0;
}
#partners-container hr {
	display: block;
	background:#c37d92;
	width: 15%;
	height: 2px;
	border: 1px solid #c37d92;
	border-radius: 5px;
	margin-bottom: 25px;
}