/* Responsive
------------------------------------- */
@media (min-width: 992px) { 

	/* Dropdown Styles
	------------------------------------- */
	ul.dropdown li:hover > ul {
		opacity: 1;
		display: block;
		transform: translate3d(0,0,0);
	}

	ul.dropdown li:hover > ul {
		opacity: 1;
		display: block;
	}

	/* ul.dropdown li:hover > .dropdown-fullwidth {
		display: block;
		opacity: 1;		
	} */
	
}

@media (max-width: 1599px) { 

	/* Weddings Country Offer 
	------------------------------------- */
	.country-bg-hr-box {
		padding: 70px 60px;
	}
	
}

@media (max-width: 1439px) { 
	
	/* Weddings Country Offer 
	------------------------------------- */
	.country-bg-hr-box {
		padding: 70px 40px;
	}

}

@media (max-width: 1199px) { 

	/* Banner search
	------------------------------------- */
	#banner-search {
		height:600px;
	}
	#banner-search-fields {
		margin-top: 200px;
	}
	
	/* Weddings Country Offer 
	------------------------------------- */
	.country-bg-hr-box {
		padding: 70px 30px;
	}
	
	/* New providers
	------------------------------------- */
	.new-providers-box {
		margin-bottom: 30px;
	}
	
	/* New blog posts
	------------------------------------- */
	.new-blog-posts-box {
		margin-bottom: 30px;
	}
	
	/* Footer
	------------------------------------- */
	.footer-box {
		padding: 30px 5px 30px 5px;
	}

}

@media (max-width: 991px) { 

	/* Adjust margins
	------------------------------------- */
	#home-categories, #weddings-country-offer, #best-reviews-container, #partners-container {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	#new-providers {
		margin-top: 100px;
	}
	
	/* Topbar
	------------------------------------- */
	.login span {
		display: none; 
	}
	
	/* Show mobile menu
	------------------------------------- */
	#search-nav-cta-container {
		margin-right: 50px;
	}
	#nav-lang-nav-container {
		display: none;
		position: absolute;
		top: 40px;
		right: 0;
		left: 0;
		bottom: 0; 
		background: red;
		z-index: 1;
	}
	#logo-col {
		z-index: 10;
	}
	#nav-lang-nav-container .col-11 {
		display: block;
		width: 100%;
		max-width: 100%;
		padding: 0;
	}
	#mmenu-container {
		display: inline-block; 
	}
	#change-nav-position-attr {
		position: static !important;
	}
	#nav-lang-nav-container-row {
		background: #fff;
		padding: 15px 15px 0 15px;
		-webkit-box-shadow: 0 0 10px 0 #777 !important;
		-moz-box-shadow: 0 0 10px 0 #777 !important;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7)!important;
	}
	#nav-lang-nav-container-row .col-lg-1, #nav-lang-nav-container-row .col-lg-11 {
		padding: 0;
	}
	#nav-container {
		margin-top: 70px;
	}
	#mmenu-container {
		display: block !important;
		position: absolute;
		top: auto;
		right: 10px;
		left: auto;
		bottom: auto;
		z-index: 2;
	}
	#nav, #nav li, #current-lang, #lang-nav{
		float: none;
		clear: both;
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	#nav li, #current-lang{
		margin: 2px 0;
		padding: 10px 10px 10px 10px;
		background: #f5f5f5;
		border-radius: 0;
	}
	#current-lang{ 
		margin: 0;
	}
	ul.dropdown a.nav-first-level, #lang-nav > li > a {
		text-shadow: none;
		display: block;
		width: 100%;
		color: #505050;
	}
	ul.dropdown a.nav-first-level:after, #lang-nav-container ul.dropdown > li > a:after {
		font-family: 'FontAwesome';
		content: '\f107';
		padding: 0;
		float: right;
	}
	#nav > li > a {
		padding: 11px 0;
	}
	#other-langs, .dropdown-fullwidth-inner {
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	#other-langs {
		width: auto !important;
		max-width: none !important;
		background: #fff;
		display: inline-block !important;
		padding: 7px 10px !important;
		margin-bottom: 0 !important;
	}
	ul#lang-nav.dropdown li ul {
		content: '';
	}
	#nav li.li-first-level, #current-lang li.li-first-level {
	}
	#nav-container ul.dropdown ul li {
		background: #fff !important;
	}
	ul.dropdown ul li {
		max-width: none !important;
		width: auto !important;
	}
	#nav-container ul.dropdown ul li:hover {
		background: #fff !important;
	}
	
	/* #nav-container ul.dropdown ul, #nav-container ul.dropdown ul li, ul.dropdown .dropdown-fullwidth { }*/
	.show-mobile-menu {
		float: none !important;
		clear: both !important;
		display: block !important;
		margin: 0 !important;
		padding: 0 !important;
		width: 100% !important;
		position: static !important;
		top: auto !important;
		right: auto !important;
		bottom: auto !important;
		left: auto !important;
		opacity: 1 !important;
		visibility: visible !important;
		transition: all 0s ease 0s !important;
		transform: none !important;
		-webkit-box-shadow: none !important;
		-moz-box-shadow: none !important;
		box-shadow: none !important;
	}
	#nav-container ul.dropdown ul.show-mobile-menu {
		display: inline-block !important;
		margin: 0 !important;
	}
	
	/* Banner search
	------------------------------------- */
	#banner-search {
		height:600px;
	}
	#banner-search-fields {
		margin-top: 100px;
	}
	.category #banner-search-fields {
		margin-top: 100px;
	}
	.banner-search-box select{
		width: 100% !important;
	}
	.banner-search-button-box button {
		display: block; 
		width: 100% !important;
		text-align: center;
	}
	.banner-search-button-box button span {
		display: inline-block;
	}
	.banner-search-box, .banner-search-button-box {
		margin-bottom: 15px;
		display: block;
		float: none;
		clear: both;
	}

	/* Weddings Country Offer 
	------------------------------------- */
	.country-bg {
		height: 150px;
		min-height: auto;
		margin: 0 10px -50px 10px;
		border-radius: 5px;
		z-index: 5;
	}
	#country-bg-ba {
		margin-top: 80px;
	}
	
	/* Review
	------------------------------------- */
	.review-container.review-container-item {
		width: 80%;
	}
	
	/* Category listing
	------------------------------------- */
	.category-main-listing-heading h3, .category-main-listing-heading h3 a {
		font-size: 24px;
		line-height: 28px;
	}
	.category-main-listing-cat-loc {
		font-size: 12px;
		line-height: 14px;
	}
	.category-main-listing-heading {
		padding: 10px 10px 0 10px;
	}
	.category-main-listing-content, .category-main-listing-cta-box {
		padding: 0 10px 0 10px;
	}
	.category-main-listing-desc, .category-main-listing-add-fields {
		padding: 5px 40px 0 0;
	}
	.cat-listing-reviews-box {
		padding-bottom: 5px;
	}
	.expand-category-listing {
		padding: 4px 15px;
	}
	.category-main-listing-cta-phone a, .category-main-listing-cta-contact a, .category-main-listing-cta-info a {
		padding: 3px 8px;
		line-height: 26px;
	}
	
	/* Footer
	------------------------------------- */
	.footer-box {
		margin-top: 0;
		padding: 0 5px 30px 5px;
	}
	.footer-box h4 {
		padding-top: 0;
	}
	.footer-box {
		padding-bottom: 10px;
	}	
	.footer-box-logo {
		margin-top: 30px;
	}
	.footer-box-useful, .footer-box-more, .footer-box-info {
		margin: 0 55px 30px 35px;
	}
	
}

@media (max-width: 767px) { 

	/* Banner search
	------------------------------------- */
	#banner-search {
		height:590px;
	}
	#banner-search-fields {
		margin-top: 75px;
	}
	#banner-search h1 {
		font-size: 36px;
	}
	
	/* Home Best Reviews
	------------------------------------- */
	#home-new-blog-providers .container {
		padding: 0px !important
	}
	#best-reviews .review-container {
		margin-bottom: 10px;
	}
	#best-reviews .flickity-button {
		display: none !important;
	}
	
	/* Why us
	------------------------------------- */
	.why-us-box {
		margin: 15px 20px; 
	}
	.why-us-box-title {
		font-size: 16px;
		font-weight: bold;
	}
	.why-us-box-desc {
		font-size: 13px;
	}
	.why-us-box-icon {
		font-size: 30px;
		line-height: 70px;
		width: 70px;
		height: 70px;
	}
	
	/* Category listing
	------------------------------------- */
	.category-main-listing-heading h3, .category-main-listing-heading h3 a {
		font-size: 24px;
		line-height: 30px;
		white-space: normal;
		overflow: visible;
		text-overflow: clip;
	}
	.category-main-listing-cat-loc {
		font-size: 12px;
		line-height: 14px;
	}
	.category-main-listing-heading {
		padding: 10px 10px 0 10px;
	}
	.category-main-listing-content {
		padding: 0 10px 0 10px;
	}
	.category-main-listing-desc, .category-main-listing-add-fields {
		padding: 10px 40px 0 0;
	}
	.cat-listing-reviews-box {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.expand-category-listing {
		padding: 8px 15px;
	}
	.category-main-listing-cta-phone a, .category-main-listing-cta-contact a, .category-main-listing-cta-info a {
		padding: 4px 8px;
		line-height: 26px;
	}
	.category-main-listing-cta-box {
		padding: 10px 15px 15px 15px;
	}
	.popup-category-listing-review {
		top: 5px;
	}
	.category-main-listing-cta-contact, .category-main-listing-cta-info {
		padding-left: 5px; 
	}
	
	/* Footer
	------------------------------------- */
	.footer-box {
		margin-top: 0;
		padding: 0 15px 30px 5px;
	}
	.footer-box h4 {
		padding-top: 0;
	}
	.footer-box {
		padding-bottom: 10px;
	}	
	.footer-box-logo {
		margin-top: 30px;
	}
	.footer-box-useful, .footer-box-more, .footer-box-info {
		margin: 0 15px 30px 5px;
	}

}

@media (max-width: 575px) { 

	/* Override default container-fluid & container padding. Adjust other styles.
	------------------------------------- */ 
	.container-fluid, .container {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	#top-bar {
		padding-left: 10px !important;
		padding-right: 10px !important;
	}
	#advertising-home-content-container, #advertising-home-reviews-container {
		margin: 5px;
	}
	.country-bg {
		margin-left: 15px;
		margin-right: 15px;
	}
	#cta-create-profile-container .container-fluid.no-padding, #home-categories-container .container-fluid {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	#footer-containter, #banner-search-fields {
		margin: 15px;
	}
	
	/* Header
	------------------------------------- */
	#header #logo img {
		margin: 5px 0;
		height: 40px;
	}

	/* Banner search
	------------------------------------- */
	#banner-search-fields {
		margin-top: 85px;
	}
	.category #banner-search h1 {
		font-size: 28px;
		line-height: 44px;
	}
	
	/* Footer
	------------------------------------- */
	.footer-box-info {
		float: none;
		clear: both;
	}
	.footer-box {
		margin: 0 45px 30px 0;
		padding: 0;
	}
	.footer-box-more {
		margin: 0 15px 30px 35px;
	}

}

@media (max-width: 479px) { 

	/* Banner search
	------------------------------------- */
	#banner-search {
		height:590px;
	}
	#banner-search-fields {
		margin-top: 85px;
	}
	#banner-search h1 {
		font-size: 32px;
	}
	
	/* Category listing
	------------------------------------- */
	.category-main-listing-cta-contact a, .category-main-listing-cta-info a {
		padding: 4px 8px;
		font-size: 14px;
		line-height: 26px;
	}
	
	/* Footer
	------------------------------------- */
	.footer-box {
		margin: 0 35px 30px 0;
		padding: 0;
	}
	.footer-box-more {
		margin: 0 0 30px 0;
	}

}

@media (max-width: 320px) { 

	/* Footer
	------------------------------------- */
	.footer-box {
		margin: 0 10px 30px 0;
		padding: 0;
	}
	.footer-box-more {
		margin: 0 30px 30px 0;
	}
	
}