/* Home Best Reviews
------------------------------------- */
#best-reviews-container {
	margin: 100px 0;
}
#best-reviews-container h2 {
	margin: 0 0 20px 0;
}
#best-reviews-container hr {
	display: block;
	background:#c37d92;
	width: 15%;
	height: 2px;
	border: 1px solid #c37d92;
	border-radius: 5px;
	margin-bottom: 25px;
}

/* Review
------------------------------------- */
.full-review-testimonial-popup-container .swal2-icon {
	display: none !important;
}
.reviewer-pop-up {
	line-height: 70px;
	padding-left: 10px;
}
.review-date-pop-up {
	font-weight: bold;
}
.review-date-pop-up, .review-comment-positive-pop-up, .review-comment-negative-pop-up {
	font-size: 16px; 
	line-height: 26px;
}
.review-comment-positive-pop-up, .review-comment-negative-pop-up {
	text-align: left !important;
	padding-left: 20px !important;
}
.review-container {
	width: 33.333333%;
}
.review {
	padding: 10px;
}
.review-testimonial {
	background: #f5f5f5;
	padding: 15px;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
	position: relative;
}
.review-testimonial:before {
	position: absolute;
	left: 35px;
	bottom: -10px;
	content: "\f0dd";
	font-family: "FontAwesome";
	font-size: 42px;
	color: #f5f5f5;
	cursor: default;
}
.review-testimonial-pos, .review-testimonial-neg {
	position: relative;
	min-height: 70px;
	text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 3em;
    margin-bottom: 10px;
}
.review-testimonial-pos {
	padding-bottom: 10px;
}
.review-testimonial-pos:before, .review-testimonial-neg:before {
	font-family: 'FontAwesome'; 
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 300;
}
.review-testimonial-pos:before {
	content: "\f087";
}
.review-testimonial-neg:before {
	content: "\f088";
}
.review-testimonial-full {
	display: none;
}
.review-testimonial-partial {
	padding-left: 20px;
}
.review-expand-full {
	position: absolute;
	bottom: 16px;
	right: 20px;
	font-size: 14px;
	line-height: 14px;
}
.review-expand-full .fa {
	font-size: 12px;
	line-height: 12px;
}
.review-expand-full-trigger {
	display: block;
	opacity: 0.5;
}
.review-expand-full-trigger:hover {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	opacity: 1;
}
.review-date {
	font-size: 14px;
	line-height: 14px;
	padding: 10px 50px 0 0;
	opacity: 0.5;
}
.rating-box {
	font-size: 14px;
	line-height: 16px;
	display: block;
	width: 70px;
	height: 70px;
	background: #c37d92;
	border-radius: 50%;
	float: left;
	color: #fff;
}
.rating-box .center-v-h {
	margin-top: 2px;
}
.rating {
	font-size: 16px;
	font-weight: bold;
}
.reviewer-provider-box {
	font-size: 15px;
	line-height: 15px;
	margin: 20px 0 0 12px;
}
.reviewer-provider {
	display: block; 
	float: left;
	margin: 10px 10px 0 10px;
}
.reviewer {
	font-size: 20px;
	line-height: 30px;
}
.reviewer, .provider {
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.provider a {
	text-decoration: none;
}