/* Topbar
------------------------------------- */
#top-bar {
	font-size: 12px;
	line-height: 20px;
	background-color: #fff;
	color: #999;
	position: relative;
	z-index: 12;
	/*
	-webkit-box-shadow: 0 0 10px 0 #777;
	-moz-box-shadow: 0 0 10px 0 #777;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.52);
	*/
	-webkit-box-shadow: 0 4px 10px 0 #555;
	-moz-box-shadow: 0 4px 10px 0 #555;
	box-shadow:  0 4px 10px 0 rgba(0, 0, 0, 0.42);	
}
#top-bar-widget {
	padding: 6px;
}
#top-bar a {
	color: #999;
	text-decoration: none;
}
.login {
	display: inline-block;
	line-height: 26px;
}
.login a:before {
	font-family: 'FontAwesome'; 
	content: "\f007";
	opacity: 0.5;
	padding-right: 3px;
}
.cta-create-profile {
	text-align: left;
}
#top-bar .cta-create-profile a {
	text-align: right;
	display: inline-block;
	padding: 3px 10px;
	color: #c37d92;
	border: 1px solid #c37d92;
	border-radius: 3px;
}
.cta-create-profile a:before {
	font-family: 'FontAwesome'; 
	content: "\f067";
	opacity: 0.5;
	padding-right: 3px;
}
#top-bar .cta-create-profile a:hover {
	color: #775d6a;
	border: 1px solid #775d6a;
}