/* Mobile menu icon
------------------------------------- */
#mmenu-container {
	display: none; 
	float: right;
}
#mmenu .fa {
	font-size: 20px;
}
#mmenu-trigger{
	color: #c37d92;
	margin-top: 4px;
	display: inline-block;
	border: 1px solid #eee;
	background: #f5f5f5; 
	border-radius: 3px;
	padding: 9px 15px 7px 15px;
}
#mmenu-trigger:hover {
	color: #775d6a;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

/* Search icon
------------------------------------- */
#search-nav-cta {
	float: right;
	padding: 0 15px;
}
#search-nav-cta .fa {
	font-size: 20px;
}
/*
#search-nav-cta-trigger{
	color: #c37d92;
	margin-top: 4px;
	display: inline-block;
	border: 1px solid #eee;
	background: #f5f5f5; 
	border-radius: 3px;
	padding: 9px 15px 7px 15px;
}
*/
#search-nav-cta-trigger{
	color: #fff;
	margin-top: 4px;
	display: inline-block;
	/*
	border: 1px solid #eee;
	*/
	background: none; 
	border-radius: 3px;
	padding: 10px 15px 8px 15px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#search-nav-cta-trigger:hover {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}