/* Weddings Country Offer 
------------------------------------- */
#weddings-country-offer {
	margin: 100px 0;
}
.country-bg {
	height: 100%;
	min-height: 400px;
	background-color: #f5f5f5;
	background-image: url('../img/bg/country/vjencanje-hrvatska.jpg');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
.country-bg h3 {
	display: block;
	text-decoration: none;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	color: #fff;
	margin: 0;
}
.country-bg h3 a {
	display: block;
	text-decoration: none;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	color: #fff;
}
.country-bg-hr-box {
	padding: 70px;
}
.country-bg-hr-box li:before {
	font-family: 'FontAwesome'; 
	content: "\f105";
	opacity: 0.5;
	padding-right: 4px;
	font-weight: 300;
}
.country-bg-hr-box li a{
	text-decoration: none;
}
.country-bg-hr-box .col-6 {
	padding-right: 0;
}

.weddings-country-offer-list {
	-moz-column-count: 4;
	-moz-column-gap: 20px;
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	column-count: 4;
	column-gap: 20px;
}
