/* Why us
------------------------------------- */
#why-us {
	background: #fff;
	margin-top: -50px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	z-index: 2;
}
.why-us-box {
	margin: 30px 40px 30px 40px; 
}
.why-us-box-icon {
	display: inline-block;
	margin: 0 auto;
	font-size: 50px;
	line-height: 100px;
	color: #c37d92;
	background: #f5f5f5;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.why-us-box-title {
	font-size: 19px;
	line-height: 32px;
	margin: 15px 0 5px 0;
}
.why-us-box-desc {
	color: #888;
	font-size: 14px;
	line-height: 22px;
}