
/* Category
------------------------------------- */
#category-top-adv-container {
	/*
	
	border: 1px solid #eee;
	*/
	margin-bottom: 50px;
	position: relative;
	background: none !important;
	padding: 0px;
	
}
#category-top-adv {
	/*
	margin: 100px 0;
	*/
	background: none !important;
	margin: 0;
	height: 200px;
	-webkit-box-shadow: 0 0 10px 0 #ddd;
	-moz-box-shadow: 0 0 10px 0 #ddd;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
	border-radius: 5px; 
	overflow: hidden;
}
#category-top-adv .row {
	margin: 0;
}
#category-top-adv .row .col-md-6.no-padding {
	padding: 5px !important;
}
#category-top-adv .category-top-adv-box {
	height: 200px;
	color: #fff;
}
#category-top-adv .carousel-cell {
	/*
	margin: 0 !important;
	*/
	background-size: cover;
	overflow: hidden;
	min-width: 200px;
	min-height: 200px;
}
#category-top-adv h3, #category-top-adv h3 a {
	display: block;
	margin: 0;
	font-size: 20px;
	line-height: 28px;
	text-decoration: none;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
#category-top-adv .category-top-adv-box-bg {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	padding: 0 15px 12px 15px;
	min-height: 70px;
}
.category-top-adv-logo {
	position: absolute;
	top: 10px;
	left: 0;
	width: 75px;
	height: 50px;
	background-color: #f5f5f5;
	opacity: 0.8;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.category-top-adv-provider-logo {
	width: 100%;
	height: 100%;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-image: url('/img/provider/logo/velum-logo.png');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
.category-top-adv-box .add-to-favorites {
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.category-top-adv-location {
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	padding: 0;
}
.category-top-adv-location p {
	margin: 0;
	padding: 0 15px;
	font-size: 12px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
	color: #e5e5e5;
}
.category-top-adv-location p:before {
	font-family: 'FontAwesome'; 
	content: "\f041";
	padding-right: 3px;
}
#category-top-adv-container hr {
	display: block;
	background:#c37d92;
	width: 15%;
	height: 2px;
	border: 1px solid #c37d92;
	border-radius: 5px;
	margin-bottom: 25px;
}
.category-top-adv-title {
	position: relative;
	margin-bottom: 5px;
	text-align: center;
}
.category-top-adv-title h4{
	display: inline-block;
	position: relative;
	padding-left: 30px;
	margin: 5px 0 10px 0;
}
.category-top-adv-title h4:before {
	font-family: 'FontAwesome'; 
	content: "\f0a1";
	position: absolute; 
	top: 0;
	left: 0;
}

/* Category Why us
------------------------------------- */
.category-why-us-box {
	margin: 15px; 
}
.category-why-us-box-icon {
	display: inline-block;
	margin: 0 auto;
	font-size: 30px;
	line-height: 50px;
	color: #c37d92;
	background: #f5f5f5;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.category-why-us-box-title {
	font-size: 19px;
	line-height: 32px;
	margin: 15px 0 5px 0;
}
.category-why-us-box-desc {
	color: #888;
	font-size: 14px;
	line-height: 22px;
}

/* Category listing
------------------------------------- */
#category-main-listing-container {
	background: #f5f5f5;
	padding: 100px 0;
}
#category-main-listing-container.category-pagination-listing {
	padding: 0 0 100px 0;
}
#category-main-listing {
	margin: 0 auto;
	max-width: 1140px;
	padding: 10px;
}
.category-main-listing-box {
	width: 100%;
	background: #fff;
	border-radius: 5px;
	margin: 25px 0;
	-webkit-box-shadow: 0 0 10px 0 #ddd;
	-moz-box-shadow: 0 0 10px 0 #ddd;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
	overflow: hidden;
}
.category-main-listing-img img {
	width: 100%;
}
.category-listing-slider {
	margin-top:0; 
	margin-bottom: 0; 
	max-height: 299px; 
	overflow-y:hidden; 
	/*
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	*/
}
.category-listing-slider-container .flickity-page-dots .dot.is-selected {
	opacity:1
}
.category-listing-slider-container .carousel-cell { 
	/*
	margin-right:0 !important;  
	*/
	background-size:cover; 
	/*
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter:alpha(opacity=30);
	opacity:0.3;
	*/
}
.category-listing-slider-container .carousel-cell { 
	z-index:1 !important;
}
.category-listing-slider-container .carousel-cell.is-selected { 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter:alpha(opacity=100);
	opacity:1;
	z-index:2 !important;
}
.category-listing-slider-container .flickity-prev-next-button {
	width: 30px !important;
	height: 30px !important;
}
.category-listing-category {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	padding: 0;
	/*
	min-height: 70px;
	*/
}
.category-listing-logo-box {
	position: absolute;
	top: 18px;
	left: 0;
	width: 75px;
	height: 50px;
	background-color: #f5f5f5;
	opacity: 0.8;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.category-listing-logo {
	width: 100%;
	height: 100%;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background-image: url('/img/provider/logo/velum-logo.png');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
.category-main-listing-box .add-to-favorites {
	position: absolute; 
	top: 10px;
	right: 10px;
	/*
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	*/
}
.category-listing-location {
	position: absolute;
	top: 105px;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	padding: 0;
}
.category-listing-location p {
	margin: 0;
	padding: 0 15px;
	font-size: 12px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
	color: #e5e5e5;
}
.category-listing-location p:before {
	font-family: 'FontAwesome'; 
	content: "\f041";
	padding-right: 3px;
}
.cat-listing-avg-rating-box {
	position: absolute;
	bottom: 15px;
	left: 20px;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.cat-listing-avg-rating {
	padding: 0 0 0 20px;
}
.cat-listing-avg-rating a {
	color: #fff;
	text-decoration: none;
}
.cat-listing-avg-rating a:hover {
	color: #fff;
	text-decoration: none;
}
.cat-listing-avg-rating:before {
	font-family: 'FontAwesome'; 
	content: "\f005";
	position: absolute;
	top: 0;
	left: 0;
}

.category-main-listing-content {
	padding: 18px 15px 8px 15px;	
}
.category-main-listing-heading {
	padding: 15px 15px 0 15px;	
}
.category-main-listing-heading h3, .category-main-listing-heading h3 a {
	display: block;
	margin: 0 30px 0 0;
	padding: 0 0 0 0;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.category-main-listing-heading h3 a {
	padding: 0 0 5px 0;
}
.category-main-listing-cat-loc {
	padding: 0 0 5px 0;
	font-size: 14px;
	line-height: 16px;
}
.category-main-listing-cat, .category-main-listing-location {
	/*
	padding-right: 10px;
	*/
}
.category-main-listing-cat:before, .category-main-listing-location:before {
	/*
	font-family: 'FontAwesome'; 
	content: "\f05a";
	padding-right: 4px;
	opacity: 0.5;
	*/
}
.category-main-listing-location:before {
	/*
	content: "\f041";
	*/
}
.category-main-listing-add-fields {
	position: relative;
	padding: 5px 40px 5px 0;
}
.hide-catlisting-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.category-main-listing-add-fields span.cml-add-fields {
	position: relative;
	font-size: 14px;
	line-height: 20px;
	display: block;
	margin: 0;
	padding: 4px 10px 4px 0;
	/*
	border-right: 2px solid #fff;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background: #f5f5f5;
	border-radius: 5px;
	*/
}
.category-main-listing-add-fields .fa-check {
	color: #008c46;
}
.category-main-listing-add-fields span.cml-add-fields:before {
	/*
	content: "\f00c";
	font-family: "FontAwesome";
	position: absolute;
	top: 2px;
	left: -1px;
	color: #008c46;
	*/
}
.expand-category-listing {
	position: absolute;
	top: 3px;
	right: 0;
	color: #ccc;
	padding: 5px 15px;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	background: #fff;
	z-index: 9;
}
.popup-category-listing-review {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	display: inline-block;
	font-style: italic;
}
.popup-category-listing-review:hover, .expand-category-listing:hover {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.category-main-listing-desc {
	position: relative;
	padding: 5px 40px 5px 0;
}
.category-main-listing-desc .fa-info-circle {
	color: #999;
}
.cat-listing-reviews-comment {
	position: relative;
	padding: 5px 40px 5px 0;
}
.cat-listing-reviews-comment.cat-listing-ellipsis.hide-catlisting-ellipsis span.catlist-b {
	display: inline;
}
.cat-listing-reviews-comment.cat-listing-ellipsis span.catlist-b {
	display: block;
}
.category-main-listing-add-fields.hide-catlisting-ellipsis span.cml-add-fields {
	display: inline;
}
.catlist-b-text {
	font-style: italic;
}
.swal2-container .catlist-b {
	display: block;
	font-style: normal;
	padding: 5px 10px;
}
.swal2-container .catlist-b:last-child {
	font-weight: bold;
}
.cat-listing-reviews-box {
	position: relative;
	padding-bottom: 10px;
}
.cat-listing-reviews-box .fa-thumbs-o-up, .cat-listing-reviews-box .fa-thumbs-o-down {
	color: #999;
}

.category-main-listing-cta-phone{
	min-width: 28px;
}

.category-main-listing-cta-phone a {
	display: inline-block;
	padding: 7px 14px;
	color: #fff;
	background: #008c46;
	border-radius: 3px;
	border: 1px solid #008c46;
	font-size: 20px;
	line-height: 28px;
	span{
		min-width: 15px;
		text-align: center;
	}
}
.category-main-listing-cta-phone a .fa {
	vertical-align: middle !important;
}
.category-main-listing-cta-contact a, .category-main-listing-cta-info a {
	font-size: 18px;
	line-height: 28px;
	display: inline-block;
	padding: 7px 14px;
	color: #fff;
	background: #c37d92;
	border-radius: 3px;
	text-decoration: none;
	border: 1px solid #c37d92;
}
.category-main-listing-cta-info a {
	background: #775d6a;
	color: #fff;
	border: 1px solid #775d6a;
}
.category-main-listing-cta-box a:hover {
	opacity: 0.85;
}
.category-main-listing-cta-box {
	padding: 15px;
}
.category-main-listing-cta-contact, .category-main-listing-cta-info {
	padding-left: 15px;
}


.subcategory-links li::before {

    font-family: 'FontAwesome';
    content: "\f105";
    opacity: 0.5;
    padding-right: 4px;
    font-weight: 300;

}

.subcategory-links li a {
    text-decoration: none; 
}

.subcategory-links .col-xl-auto {
    min-width: 220px;
}