/* Footer
------------------------------------- */
.footer-box {
	float: left;
	padding: 30px 15px 30px 15px;
}
.footer-box-useful, .footer-box-more, .footer-box-info {
	margin: 0 15px 30px 15px;
}
.footer-box h4 {
	margin: 0;
	padding: 0 0 10px 0;
}
.footer-box ul.footer-ul {
	list-style-type: none;
	margin: 0 0 0 3px;
	padding: 0;
}
.footer-box ul.footer-ul li {
	padding: 2px 0;
}
.footer-box ul.footer-ul li:before {
	font-family: 'FontAwesome'; 
	content: "\f105";
	opacity: 0.5;
	padding-right: 4px;
	font-weight: 300;
}
.footer-box ul.footer-ul li a {
	text-decoration: none;
	color: #505050;
}
.footer-box ul.footer-ul li a:hover {
	text-decoration: none;
	color: #c37d92;
}

#footer-containter ul.footer-ul-social-icons {
	display: table;
	margin: 10px auto 15px auto;
	text-decoration: none;
	color: #c37d92;
}
#footer-containter ul.footer-ul-social-icons li {
	float: left;
	padding: 0 10px 0 0;
}
#footer-containter ul.footer-ul-social-icons .fa {
	font-size: 22px;
	color: #775d6a;
}
#copyright {
	border-top: 1px solid #f5f5f5;
	padding: 15px 15px 50px 15px;
	text-align: center;
	
}
#eu-fonds {
	text-align: center;
}
#eu-fonds a {
	display: inline-block; 
	margin: 0 auto 50px auto;

	background: #775d6a;
	border-radius: 5px;
}
#eu-fonds img {
	width: 100%;
	max-height: 140px;
}