/* Header
------------------------------------- */

/* Background image
------------------------------------- */
.bg-img {
	background-color: #f5f5f5;
	background-image: url('../img/bg/banner-search/vjencanje-par.jpg');
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}

#header-container {
	position: relative; 
	z-index: 11;
}
#header {
	padding: 15px;
}
#header.is-sticky {
	background: #fff;
	-webkit-box-shadow: 0 4px 10px 0 #ccc;
	-moz-box-shadow: 0 4px 10px 0 #ccc;
	box-shadow:  0 0 10px 0 rgba(0, 0, 0, 0.22);	
}
#header.is-sticky ul.dropdown a.nav-first-level, #header.is-sticky  #search-nav-cta-trigger{
	text-shadow: none !important;
	color: #775d6a !important;
}
#header.is-sticky.override-sticky {
	position: static !important;
	top: auto !important;
	right: auto !important;
	bottom: auto !important;
	left: auto !important;
} 

#header #logo a {
	display: block;
	margin: 0;
	padding: 0;
}

#header #logo img {
	display: block;
	height: 50px;
}

.header{
    text-align: center;
}