/* Single provider       
------------------------------------- */

body.single-provider {
	background: #f5f5f5;
}

.single-provider #header {
	background: #fff;
}

.single-provider #content .flickity-prev-next-button.previous {
	left: -10px !important;
}

.single-provider #content .flickity-prev-next-button.next {
	right: -10px !important;
}

.single-provider #top-bar {
	-webkit-box-shadow: 0 0 10px 0 #555;
	-moz-box-shadow: 0 0 10px 0 #555;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}

.single-provider ul.dropdown a.nav-first-level,
.single-provider #search-nav-cta-trigger {
	text-shadow: none;
	color: #505050;
}

.single-provider h1 {
	margin-bottom: 0;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 0.5);
}

.single-provider #breadcrumb-container {
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0;
	z-index: 2;
}

.single-provider #content h2 {
	font-size: 22px;
	line-height: 32px;
	margin: 0 0 10px 0;
}

.single-provider #content hr {
	display: block;
	background: #c37d92;
	width: 15%;
	height: 2px;
	border: 1px solid #c37d92;
	border-radius: 5px;
	margin: 0;
	text-align: left;
}

#single-slider-holder {
	position: relative;
}

#single-slider .carousel-cell {
	background-size: cover;
    background-repeat: no-repeat;
}

.single-slider-box {
	position: absolute;
	bottom: 15px;
	left: 0px;
	right: 0px;
	width: 100%;
	z-index: 9;
}

.single-slider-box-holder {
	margin: 0px 15px;
}

.single-info-cta-logo {
	float: left;
	margin: 15px 15px 0px 15px;
}

.single-info-cta-logo img {
	width: 150px;
	border: 2px solid #eee;
	border-radius: 5px;
}

.single-info-cta-reviews {
	float: right;
	width: 150px;
	margin: 25px 15px 0px 15px;
	position: relative;
	color: #fff;
	text-decoration: none;
}

.single-info-cta-reviews::before {
	font-family: "FontAwesome";
	content: "\f005";
	padding-right: 2px;
	color: #c37d92;
}

.single-info-cta-reviews a {
	color: #505050 !important;
	text-decoration: none;
}

/* Single Provider Info Box
        
                ------------------------------------- */

#single-info-cta-holder {
	margin-top: -140px;
}

#single-info-cta-holder.is-sticky {
	margin-top: 20px;
}

.single-info-cta-box {
	position: relative;
	width: 100%;
	background: #fff;
	margin: 0;
	border-radius: 3px;
	/*
        
                    -webkit-box-shadow: 0 4px 10px 0 #555;
        
                    -moz-box-shadow: 0 4px 10px 0 #555;
        
                    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.42);
        
                    */
	-webkit-box-shadow: 0 0 10px 0 #ddd;
	-moz-box-shadow: 0 0 10px 0 #ddd;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	z-index: 10;
}

.single-logo-holder {
	float: left;
	width: 140px;
	display: inline-block;
	margin: 0;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	-webkit-box-shadow: 0 0 10px 0 #333;
	-moz-box-shadow: 0 0 10px 0 #333;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
}

.single-title-holder {
	margin: 0;
	max-width: 600px;
}

.single-logo {
}

.single-logo img {
	width: 140px;
	border-radius: 3px;
	background: #fff;
}

/* Single Provider CTA Affix
        
                ------------------------------------- */

#single-affix-cta {
}

#single-affix-cta-mobile {
	visibility: hidden;
}

#single-affix-cta-mobile-placeholder {
	width: 100%;
	height: 34px;
	visibility: hidden;
}

#single-affix-cta-mobile.is-sticky {
	visibility: visible;
	position: fixed;
	left: 0 !important;
	right: 0 !important;
	width: 100% !important;
	background: #fff;
	padding: 5px;
	z-index: 11;
	-webkit-box-shadow: 0 4px 10px 0 #ccc;
	-moz-box-shadow: 0 4px 10px 0 #ccc;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
}

#single-affix-cta-mobile .single-affix-cta-box {
	padding: 0px !important;
}

#single-affix-cta-mobile
	.single-affix-cta-contact
	button.single-info-cta-button,
#single-affix-cta-mobile .single-affix-cta-phone a {
	padding: 5px 10px;
	font-size: 16px;
	line-height: 22px;
}

#single-affix-cta.is-sticky {
	position: fixed !important;
	background: #fff;
	width: 100% !important;
	left: 0px !important;
	right: 0px !important;
	z-index: 10;
	-webkit-box-shadow: 0 4px 10px 0 #ccc;
	-moz-box-shadow: 0 4px 10px 0 #ccc;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
}

.single-affix-cta-box {
	padding: 5px 15px 15px 15px;
}

#single-affix-cta.is-sticky .single-affix-cta-box {
	z-index: 10;
	padding: 5px;
}

.single-affix-cta-phone a {
	display: inline-block;
	padding: 7px 14px;
	color: #fff;
	background: #008c46;
	border-radius: 3px;
	border: 1px solid #008c46;
	font-size: 20px;
	line-height: 28px;
	min-width: 44px;
	text-align: center;
}

.single-affix-cta-phone a .fa {
	vertical-align: middle !important;
}

.single-affix-cta-contact button.single-info-cta-button,
.single-affix-cta-info a {
	font-size: 16px;
	line-height: 28px;
	display: inline-block;
	padding: 7px 14px;
	color: #fff;
	background: #c37d92;
	border-radius: 3px;
	text-decoration: none;
	border: 1px solid #c37d92;
}

.single-affix-cta-contact button.single-info-cta-button {
	margin: 0;
}

.single-affix-cta-contact button.single-info-cta-button:hover {
	background: #cd879c;
	color: #fff;
	border: 1px solid #c37d92;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.single-affix-cta-contact button.single-info-cta-button:focus {
	outline: none !important;
}

.single-affix-cta-info a {
	background: #775d6a;
	color: #fff;
	border: 1px solid #775d6a;
}

.single-affix-cta-box a:hover {
	opacity: 0.85;
}

.single-affix-cta-contact,
.single-affix-cta-info {
	padding-left: 15px;
}

.single-info-cta-title {
	position: relative;
	background: #eee;
	padding: 15px 45px 15px 15px;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
}

.single-info-cta-title .add-to-favorites {
	position: absolute;
	top: 10px;
	right: 10px;
}

.single-info-cta-box ul {
	margin: 0 0 10px 0;
}

.single-info-cta-box li {
	display: block;
	position: relative;
	margin: 10px 15px;
}

.single-info-cta-box li span {
	font-weight: 600;
}

.single-intro-desc {
	margin: 10px 0 0 0;
	position: relative;
	max-height: 250px;
	overflow: hidden;
	padding-bottom: 100px;
}

.single-intro-desc .expand-box-overlay {
	background: rgb(245, 245, 245);
	/* The Fallback */
	background: rgba(245, 245, 245, 0.5);
	background: url("../img/bg/expand/grey.png") repeat-x;
}

/*
        
                .single-info-cta-box li::before {
        
                    font-family: 'FontAwesome';
        
                    position: absolute;
        
                    top: -1px;
        
                    left: 0;
        
                    text-align:center;
        
                    color: #999;
        
                }
        
                .single-info-cta-box li.single-info-cta-location::before {
        
                    content: '\f129';
        
                }
        
                .single-info-cta-box li.single-info-cta-price::before {
        
                    content: '\f153';
        
                    left: 2px;
        
                }
        
                .single-info-cta-box li.single-info-cta-soffer::before {
        
                    content: '\f0a1';
        
                }
        
                .single-info-cta-box li.single-info-cta-person::before {
        
                    content: '\f007';
        
                }
        
                */

.single-content-section,
.single-content-section-styled {
	margin: 20px 10px 50px 10px;
	padding: 15px;
}

.single-content-section-styled {
	background: #fff;
	-webkit-box-shadow: 0 0 10px 0 #ddd;
	-moz-box-shadow: 0 0 10px 0 #ddd;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	overflow: hidden;
}

.single-provider-litems li {
	position: relative;
	padding-left: 20px;
}

.single-provider-litems li::before {
	font-family: "FontAwesome";
	position: absolute;
	content: "\f00c";
	top: 0;
	left: 0;
	color: #008c46;
}

/* Single Provider Reviews
        
                ------------------------------------- */

#single-provider-reviews {
}

.leave-comment-box {
	margin: 0;
	padding: 0;
}

button#leaveReview,
button#showAllProviderReviews {
	display: block;
	width: 100%;
	background: #fff;
	color: #cd879c;
	border: 1px solid #c37d92;
	padding: 12px 15px 12px 15px;
	margin: 20px 0 0 0;
	border-radius: 3px;
	font-size: 18px;
	line-height: 26px;
}

button#leaveReview:hover,
button#showAllProviderReviews:hover {
	background: #cd879c;
	color: #fff;
	border: 1px solid #c37d92;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

button#leaveReview:focus,
button#showAllProviderReviews:focus {
	outline: none !important;
}

.single-provider-reviews-showall-box {
	position: relative;
	width: 100%;
	margin: 0px;
}

.single-provider-reviews-showall {
	position: relative;
	padding: 20px;
}

.scrollToSingleProviderReviews:hover {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

/* Single Provider Prices
        
                ------------------------------------- */

.single-provider-prices-box {
	margin-top: 15px;
	border: 1px solid #eee;
	border-radius: 5px;
}

table.single-provider-prices {
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

table.single-provider-prices thead tr {
	background: #f5f5f5;
}

table.single-provider-prices tr {
	border-bottom: 1px solid #eee;
}

table.single-provider-prices tbody tr:last-child {
	border-bottom: none;
}

table.single-provider-prices th,
table.single-provider-prices td {
	width: 40%;
	padding: 5px 10px;
	text-align: left;
}

table.single-provider-prices th:first-child,
table.single-provider-prices td:first-child {
	width: 60%;
}

/* Single Provider Discounts
        
                ------------------------------------- */

#single-provider-discounts {
	margin: 0 0 5px 0;
}

.single-provider-discount-item {
	display: block;
	width: 50%;
	float: left;
	padding: 0;
	margin: 0;
}

.single-provider-discount-box {
	position: relative;
	display: block;
	height: 100%;
	background: #f5f5f5;
	border-radius: 5px;
	padding: 0;
	margin: 0 5px;
}

.single-provider-discount-img {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 150px;
	background-color: #f5f5f5;
	background-image: url("../img/bg/banner-search/vjencanje-par.jpg");
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
	border-radius: 5px 5px 0 0;
	img {
		width: 100%;
		object-fit: cover;
	}
}

.single-provider-discount-title {
	display: block;
	padding: 15px 15px 10px 15px;
	font-size: 20px;
	line-height: 28px;
	margin: 0;
	color: #c37d92;
}

.single-provider-discount-desc {
	display: block;
	padding: 0 15px 15px 15px;
}

.single-provider-discount-prices,
.single-provider-discount-date {
	position: absolute;
	color: #fff;
	text-shadow: 0 0 5px rgba(0, 0, 0, 1), 0 0 5px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	line-height: 22px;
}

.single-provider-discount-prices {
	top: 15px;
	left: 15px;
}

.single-provider-discount-date {
	bottom: 15px;
	left: 15px;
	letter-spacing: -0.1px;
	font-size: 12px;
}

.single-provider-discount-old-price {
	display: block;
	text-decoration: line-through;
	font-size: 12px;
}

.single-provider-discount-new-price {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.single-provider-discount-cta {
	padding: 0 15px 15px 15px;
}

.single-provider-discount-cta button {
	display: block;
	width: 100%;
	background: none;
	color: #cd879c;
	border: 1px solid #c37d92;
	padding: 12px 15px 12px 15px;
	margin: 0;
	border-radius: 3px;
	font-size: 18px;
	line-height: 26px;
}

.single-provider-discount-cta button:hover {
	background: #cd879c;
	color: #fff;
	border: 1px solid #c37d92;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.single-provider-discount-cta button:focus {
	outline: none !important;
}

.single-provider-discount-box .discount-badge {
	color: #fff;
	font-weight: bold;
}

/* Single Provider Locations
        
                ------------------------------------- */

#single-provider-locations-container {
	margin: 15px 0 5px 0;
}

.single-provider-location-item {
	float: left;
	width: 50%;
}

.single-provider-location-box {
	margin: 0 5px 0 5px;
	border: 1px solid #eee;
	border-radius: 5px;
}

.single-provider-location-item h4 {
	margin: 0;
	background: #f5f5f5;
	border-bottom: 1px solid #eee;
	padding: 10px 15px;
}

.single-provider-location-address,
.single-provider-location-whours {
	position: relative;
	padding-left: 20px;
	margin: 15px;
}

.single-provider-location-whours span {
	display: inline-block;
	min-width: 50px;
}

.single-provider-location-address::before {
	font-family: "FontAwesome";
	position: absolute;
	content: "\f041";
	top: 0;
	left: 2px;
	font-size: 16px;
}

.single-provider-location-whours::before {
	font-family: "FontAwesome";
	position: absolute;
	content: "\f017";
	top: 0;
	left: 0;
}

.single-provider-location-cta {
	padding: 0 10px 15px 25px;
}

.single-provider-location-cta a {
	display: inline-block;
	padding: 7px 0px;
	color: #c37d92;
	background: #eee;
	border-radius: 50%;
	border: 1px solid #eee;
	font-size: 20px;
	line-height: 28px;
	width: 44px;
	text-align: center;
	margin-right: 5px;
}

.single-provider-location-cta a .fa {
	vertical-align: middle !important;
}

.openIframeSingleProviderVideoPopUp {
	font-size: 30px;
	line-height: 30px;
	color: #fff;
	opacity: 0.8;
	padding: 10px 15px 10px 20px;
	background: #222;
	border-radius: 5px;
	border: 2px solid #111;
	text-shadow: 0 0 1px rgba(0, 0, 0, 1);
	text-align: center;
}

.openIframeSingleProviderVideoPopUp:hover {
	cursor: pointer;
	opacity: 1;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.openIframeSingleProviderVideoPopUp .fa {
	vertical-align: middle !important;
}

@media (max-width: 1199px) {
	.single-affix-cta-contact button.single-info-cta-button,
	.single-affix-cta-info a {
		font-size: 15px;
	}

	.single-info-cta-logo {
		width: 130px;
		margin: 15px 5px 0px 15px;
	}

	.single-info-cta-reviews {
		width: 130px;
		font-size: 14px;
		margin: 20px 15px 0px 5px;
	}

	.single-info-cta-logo img {
		width: 130px;
	}
}

@media (max-width: 991px) {
	#single-info-cta-holder {
		margin-top: -30px;
	}

	.single-provider #breadcrumb-container {
		position: relative;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		text-align: center;
		margin: 10px auto;
	}

	.single-logo img {
		width: 100px;
	}

	.single-provider h1 {
		font-size: 30px;
		line-height: 34px;
		margin: 0;
	}

	.single-provider-discount-item {
		width: 80%;
	}

	.single-provider-location-item {
		width: 80%;
	}

	.single-info-cta-logo {
		width: 130px;
		margin: 15px 5px 0px 15px;
	}

	.single-info-cta-reviews {
		float: left;
		width: 130px;
		font-size: 14px;
		margin: 20px 15px 0px 10px;
	}

	.single-info-cta-logo img {
		width: 130px;
	}

	.single-slider-box-holder,
	.single-title-holder {
		margin: 0;
		padding: 0;
		width: 100%;
		max-width: 100%;
		text-align: center;
	}

	.single-info-cta-box {
		border: 1px solid #e5e5e5;
		border-radius: 5px;
	}

	.single-info-cta-title {
		background: #fafafa;
		border-bottom: 1px solid #eee;
	}
}

@media (max-width: 575px) {
	.single-content-section,
	.single-content-section-styled {
		margin: 20px 0 50px 0;
	}

	.single-provider .container {
		padding: 0 !important;
	}
}