@charset "UTF-8";
* {
	box-sizing: border-box;
}
/* Html
------------------------------------- */
html,
body {
	width: 100%;
	min-height: auto;
	background: #fff;
	font-size: 15px;
	line-height: 26px;
	color: #505050;
	font-family: "Varela Round", "HelveticaNeue", "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	text-transform: none;
	overflow-x: hidden;
	letter-spacing: 0.1px;
}

/* Remove highlighting of elements
------------------------------------- */
/*
* { 
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none; 
	
}
*/
:focus {
	outline: none !important;
}

/* Clearfix
------------------------------------- */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
	zoom: 1;
}

/* Follow click on element with data href
------------------------------------- */
.follow-href {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

/* Display
------------------------------------- */
.hide {
	display: none !important;
}
.display-block {
	display: block !important;
}
.display-inline-block {
	display: inline-block !important;
}
.invisible {
	visibility: none !important;
}

/* Expand box
------------------------------------- */
.height-auto {
	height: auto !important;
	min-height: 0 !important;
	max-height: none !important;
}
.expand-box-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	margin: 0;
	padding: 60px 15px 15px 15px;
	background: rgb(245, 245, 245); /* The Fallback */
	background: rgba(245, 245, 245, 0.5);
	background: url("../img/bg/expand/grey.png") repeat-x;
	/*
	background: -moz-linear-gradient(270deg, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 100%);
	background: -webkit-linear-gradient(270deg, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 100%);
	background: linear-gradient(rgba(245, 245, 245, 0), rgba(245, 245, 245, 1) 100%);
	*/
}
.expand-box-overlay-override {
	background: none !important;
}
.expand-box-trigger {
	display: inline-block;
	background: #fff;
	border-radius: 3px;
	padding: 10px 17px 10px 15px;
	-webkit-box-shadow: 0 0 10px 0 #999 !important;
	-moz-box-shadow: 0 0 10px 0 #999 !important;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2) !important;
}
.expand-box-trigger:hover {
	color: #c37d92;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

/* Positioning
------------------------------------- */
.pos-relative {
	position: relative !important;
}
.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}
.center-v-h {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Color
------------------------------------- */
.color-primary {
	color: #c37d92;
}
.color-secondary {
	color: #775d6a;
}
.color-grey-888 {
	color: #888;
}
.color-green-008c46 {
	color: #008c46;
}
.bg-f5f5f5 {
	background: #f5f5f5;
}

/* Btn
------------------------------------- */
.btn {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	border-radius: 3px;
	background: #c37d92;
	color: #fff;
	font-size: 15px;
	margin: 15px 0;
}
.btn:hover {
	background: #775d6a;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

/* a
------------------------------------- */
a {
	color: #c37d92;
}
a:hover {
	color: #775d6a;
}
a,
a:hover,
a:active,
a:focus {
	outline: 0 !important;
}

/* Img
------------------------------------- */
img {
	vertical-align: top;
}

/* Object & Embed
------------------------------------- */
object,
embed {
	outline: 0 !important;
}

/* Font & Headlines
------------------------------------- */
p {
	margin: 15px 0 15px 0;
}
h1,
h2,
h3,
h4 {
	font-weight: 500;
}
h1 {
	font-size: 40px;
	line-height: 50px;
	margin: 0 0 30px 0;
	letter-spacing: -1px;
}
h2 {
	font-size: 34px;
	line-height: 44px;
	margin: 0 0 30px 0;
}
h3 {
	font-size: 28px;
	line-height: 38px;
	margin: 0 0 30px 0;
}
h4 {
	font-size: 22px;
	line-height: 32px;
	margin: -5px 0 30px 0;
}

/* Font & Headlines
------------------------------------- */
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Padding & Margin
------------------------------------- */
.no-padding {
	padding: 0 !important;
}
.no-padding-top {
	padding-top: 0 !important;
}
.no-padding-right {
	padding-right: 0 !important;
}
.no-padding-bottom {
	padding-bottom: 0 !important;
}
.no-padding-left {
	padding-left: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-margin-top {
	margin-top: 0 !important;
}
.no-margin-right {
	margin-right: 0 !important;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.no-margin-left {
	margin-left: 0 !important;
}

.padding-5px {
	padding: 5px !important;
}
.padding-10px {
	padding: 10px !important;
}
.padding-top-20px {
	padding-top: 20px !important;
}
.padding-bottom-20px {
	padding-bottom: 20px !important;
}

.margin-bottom-5px {
	margin-bottom: 5px !important;
}

/* Text align
------------------------------------- */
.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
